@using Ponera.Base.Models
@using PoneraAdmin.Views.Templates.Models
@model IList<Ponera.Base.Models.UserModel>

@{
    ViewBag.Title = "Ponera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Tanım</h2>
@{
    Html.RenderPartial("Partials/_FormView", new UserModel());
}

@{
    Html.RenderPartial("~/Views/Templates/_GridTemplate.cshtml", new GridTemplateModel()
    {
        Model = Model,
        DisplayColumns = PropertyNameHelper.GetPropertyNames<UserModel>(model => model.FirstName, model => model.LastName, model => model.Email),
        DisplayColumnNames = new[] { "Ad", "Soyad", "Email" },
        DataTableTitle = "Kullanıcılar"
    });
}

@section scripts
{
    @Scripts.Render("~/bundles/user")
}
